.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    /* position: fixed; */
    /* bottom: 0; */
    top: 0px;
    left: 0;
    color: #fff;
    width: 100%;
    padding: 25px 0px; /* Adjust padding */
    position: relative;
    margin-bottom: auto;
    
}

html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

body {
    font-family: serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.profile-picture {
    position: absolute;
    top: 52%;
    right: 20px;
    transform: translateY(-50%);
}

.profile-picture img {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    object-fit: cover;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

.social-links a {
    margin-right: 20px;
}

.social-links svg {
    width: 32px;
    height: 32px;
    fill: black;
}

footer {
    margin-top: auto;
    position:initial;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */


}





